*.py[cod]

# C extensions
*.so

# Packages
.Python
*.egg
*.egg-info
artifacts
dist
build
eggs
env
parts
#bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
htmlcov/
.coverage
.tox
nosetests.xml
.testrepository
.cache
coverage.xml

# Translations
*.mo
*.pot

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Complexity
output/*.html
output/*/index.html

# Sphinx
docs/build

# pbr generates these
AUTHORS
#ChangeLog

# Editors
*~
.*.swp

# Django stuff:
*.log

# Sphinx documentation
docs/_build/
docs/build
build/

# PyBuilder
target/

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
.idea/
redislite/package_metadata.json

# testing artifacts
cobertura.xml
test_unit_redis.db

# redis build artifacts
redis.submodule/**/*.o
redis.submodule/**/.make-*
redis.submodule/bin/
